.footer {
  background-color: $primary;
  padding: ($spacer * 2);

  .logo {
    color: #fff;
    opacity: 1;

    &:hover, &:focus {
      opacity: 0.9;
    }

    &:before,
    &:after {
      color: #ebf2f6;
    }
  }
}
