body {
  padding-top: 5rem;
  color: #558099;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .btn {
  text-transform: uppercase;
}

h2 {
  color: #2C4C7F;
}

.btn {
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .btn {
    display: block;
    width: 100%;
    padding: .75rem;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}