body {
  padding-top: 6rem;
  color: $grey-500;
  font-family: 'Nunito', sans-serif;
}

.logo {
  &:before,
  &:after {
    text-transform: uppercase;
    color: rgba(85, 128, 153, 0.5);
  }

  &:before {
    content: 'Alexander';
    margin-right: 1rem;
  }

  &:after {
    content: 'Fandén';
    margin-left: 1rem;
  }
}

h1, h2, h3, h4, h5, h6, .btn {
  font-weight: bold;
  font-family: "Montserrat";
}

h1 {
  color: $grey-600;
  font-size:4.5rem;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  color: $grey-600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  color: $blue-600;
}

h4 {
  font-size:2rem;
  line-height: 2rem;
  color: $grey-400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h5 {
  color: $grey-400;
}
h6 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

p, span, li {
  font-family: "Nunito";
}

a {
  font-weight: bold;
  color: $grey-600;

  &:hover, &:focus {
    text-decoration: underline;
    box-shadow: none;
    outline: none;
  }
  
  &:before, &:after {
    font-weight: normal;
  }
}

.subtle-text {
  color: $grey-400;
}

li {
  margin-bottom: 0.5rem;
}

.btn {
  font-weight: bold;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $grey-500;

  &:focus {
    box-shadow: none;
  }


}

.btn-primary {
  color: white;
  fill: white;
  background-color: $accent;
  margin: ($spacer * 2) auto 0 auto;
  border: 2px solid transparent;

  &:hover, &:focus  {
    background-color: lighten($accent, 5%);
    border: 2px solid transparent;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(34,67,120,0.2);
  }

}

.work img {
  margin:0;
}

.btn-outline {
  border: 2px solid $grey-200;
  
  &:hover, &:focus {
    border-color: $grey-300;
    color: $grey-600;
  }
}

.btn-text {
  border: 2px solid transparent;

  &:hover, &:focus {
    border: 2px solid $grey-200;
  }
  
}

ul {
  padding:0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.quick-facts {
  background-color: $grey-100;
  padding:2.5rem 0 1rem 0;
  margin:2.5rem 0 3rem 0;
}

@include media-breakpoint-down(md) {

  .lead {
    font-size: 1.5rem;
  }

  .container-fluid {
    padding-left:3rem;
    padding-right:3rem;
  }

}



@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
    margin-bottom:0rem;
  }

    .btn {
    display: block;
    width: 100%;
    padding: .66rem;
  }

  .container-fluid {
    padding-left:2rem;
    padding-right:2rem;
  }
  footer .logo {
    &:before, &:after {
      content: none;
    }
  }

  #contact {
    margin-bottom: 3rem;
  }
}
