body {
  color: $grey-600;
  font-family: 'Nunito', sans-serif;
}

.sticky-header {
  top: 6rem;
  position: relative;
}

.logo {

  &:before,
  &:after {
    text-transform: uppercase;
    color: rgba(85, 128, 153, 0.5);
  }

  &:before {
    content: 'Alexander';
    margin-right: $s;
  }

  &:after {
    content: 'Fandén';
    margin-left: $s;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Roboto Slab";
}


h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: $xxxl;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  font-size: $xxl;
  margin-bottom: 1rem;
}

h3 {
  font-size: $xl;
  margin-bottom: $m;
}

h4 {
  font-size: 1.125rem;
  margin-top: 2rem;
  text-transform: uppercase;

}


p,
span,
li {
  font-family: "Nunito";
  font-size: 1.125rem;
}

.lead {
  font-size: $l;
}


caption {
  color: $grey-500;
}

.bold {
  font-weight: bold;
  font-size: inherit;
}

a {
  font-weight: bold;
  color: $grey-600;

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  &:before,
  &:after {
    font-weight: normal;
  }
}



.subtle-text {
  color: $grey-400;
}

li {
  margin-bottom: 0.5rem;
}

.btn {
  font-weight: bold;
  letter-spacing: 1px;
  color: $grey-500;

  &:focus {
    box-shadow: none;
  }


}

.btn-primary {
  color: white;
  fill: white;
  text-transform: uppercase;
  background-color: $accent;
  margin: ($spacer * 2) auto 0 auto;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: lighten($accent, 5%);
    border: 2px solid transparent;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(34, 67, 120, 0.2);
  }

}

.work img {
  margin: 0;
}

.btn-outline {
  border: 2px solid $grey-200;
  text-transform: uppercase;


  &:hover,
  &:focus {
    border-color: $grey-300;
    color: $grey-600;
  }
}

.btn-text-org {
  border: 2px solid transparent;
  text-transform: uppercase;
  fill: $grey-500;

  &:hover,
  &:focus {
    border-color: $grey-200;
    color: $grey-600;
    fill: $grey-600;
  }
}

.btn-text {
  font-family: "Roboto Slab";
  color: $accent;
}

ul {
  padding: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.quick-facts {
  background-color: $grey-100;
  padding: 2.5rem 0 2rem 0;
}

.divider {
  display: flex;
  margin: $xxxl auto;

  hr {
    flex-grow: 1;
    border-color: $grey-200;
  }

  img {
    height: 16px;
    margin: 9px $s;
    padding: 0;
  }
}

.container {
  max-width: calc(900px + #{$xxxl}*2);
  padding-left: $xxxl;
  padding-right: $xxxl;
}

.story {
  max-width: calc(740px + #{$xxxl}*2) !important;
}

#contact {
  margin-bottom: $xxxl;

  label {
    font-weight: bold;
  }

  .form-control {
    background-color: #ebf2f6;
    border: 0;
  }

  #linkedin {
    display: inline-block;
    background: url('/assets/logo_linkedin.svg') no-repeat 50% 50%;
    padding: 0 5px;
    color: transparent;
  }
}

@include media-breakpoint-down(sm) {

  h1 {
    font-size: 2rem;
  }

  .btn {
    display: block;
    width: 100%;
    padding: .66rem;
  }

  .divider {
    margin: 3rem auto;

  }

  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .project-intro {
    flex-direction: row;
  }

  footer .logo {

    &:before,
    &:after {
      content: none;
    }
  }

}