.hero {
  padding: 5rem $spacer;
}

@include media-breakpoint-up(sm) {
  .hero {
    padding: 10rem 0;
    text-align: center;

    h1 {
      font-size: 96px;
    }

    .lead {
      font-size: 32px;
    }
  }
}
