.hero {
  padding-top: 30vh;
}

a .proj-text p {
  font-weight: 300;
}


.project-intro:hover h3,
.project-intro:focus h3 {
  text-decoration: underline;

}

.project-intro {
  display: flex;

}

.proj-img {
  background-color: $grey-100;
  background-size: cover;
  background-position: center;
  margin-right: $xl;
  flex: 20%;
}

.proj-text {
  flex: 80%;
}

#dribbble {
  display: flex;

  video {
    border-radius: $s;
    margin: 0;


  }
}

.dribbble-video {
  position: relative;
  margin-right: $l;


  &:hover,
  &:focus {
    -webkit-filter: sepia(100%) hue-rotate(295deg) contrast(90%) saturate(150%);
    filter: sepia(100%) hue-rotate(295deg) contrast(90%) saturate(150%);
  }
}

.dribbble-video:last-child {
  margin-right: 0;
}

.dribbble-icon {
  position: absolute;
  top: $s;
  right: $s;
  margin: 0;
  width: $l;
  height: $l;
  fill: white;
}

.dribbble-video:hover .dribbble-icon,
.dribbble-video:hover .dribbble-icon {
  fill: $accent;

}

@include media-breakpoint-down(sm) {
  #dribbble {
    flex-direction: column;
  }

  .dribbble-video {
    margin: $m 0;
  }
}