.hero {
  padding-top: 30vh;
}

a .proj-text p {
  font-weight: 300;
}


.project-intro:hover h3,
.project-intro:focus h3 {
  text-decoration: underline;
}


.project-intro:hover .icon {
  width: 1.1em;
  transition-property: width;
  transition-duration: 300ms;
}

.project-intro .icon {
  margin-top: -2px;
}

.project-intro {
  display: flex;

}

.proj-img {
  background-color: $grey-100;
  background-size: cover;
  background-position: center;
  margin-right: $xl;
  flex: 20%;
}

.proj-text {
  flex: 80%;
}

picture {
  display: flex;
}

picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.proj-img img {
  margin: 0;
}

#dribbble {
  display: flex;

  video {
    border-radius: $s;
    margin: 0;


  }
}

.dribbble-video {
  position: relative;
  margin-right: $l;


  &:hover,
  &:focus {
    -webkit-filter: sepia(100%) hue-rotate(295deg) contrast(90%) saturate(150%);
    filter: sepia(100%) hue-rotate(295deg) contrast(90%) saturate(150%);
    transition: all 0.3s ease;
  }
}

.dribbble-video:last-child {
  margin-right: 0;
}

.dribbble-icon svg {
  position: absolute;
  top: $s;
  right: $s;
  margin: 0;
  width: $l;
  height: $l;
  fill: white;
}

.dribbble-video:hover .dribbble-icon svg {
  fill: $accent;
  transition: all 0.3s ease;
  transition-delay: 0.1s;

}

@include media-breakpoint-down(xs) {

  #dribbble {
    flex-direction: column;
  }

  .dribbble-video {
    margin: $m 0;
  }
}

@include media-breakpoint-down(md) {
  .card-blogs {
    margin: $s 0;
  }
}