.navbar {
  background-color: rgba(255,255,255,0.95);
  padding-top: $spacer;
  padding-bottom: $spacer;

  .logo {   
    &:hover, &:focus {
      opacity: 0.8;
    }
    svg {
      color: $grey-500;
      opacity: 0.2;
    }
  }
}



.logo {
  &:before,
  &:after {
    text-transform: uppercase;
    color: rgba(85, 128, 153, 0.5);
  }

  &:before {
    content: 'Alexander';
    margin-right: 1rem;
  }

  &:after {
    content: 'Fandén';
    margin-left: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .logo {
    &:before,
    &:after {
      color: rgba(255, 255, 255, 0);
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    box-shadow: 0px 0px 20px 0px rgba(49, 96, 123, 0.15);

    .navbar-nav {
      flex-direction: inherit;
    }
  }
}
