.navbar {
  background-color: rgba(255,255,255,0.90);
  box-shadow: 0px 5px 10px 0px rgba($grey-500, 0.10);
  .logo {   
    &:hover, &:focus {
      opacity: 0.9;
    }
    svg {
      color: $grey-500;
      opacity: 0.5;
    }
  }
}

.btn-text {
  fill: $grey-500;
  text-transform: uppercase;
  &:hover, &:focus {
    color: darken($grey-500, 15%);
    fill: darken($grey-500, 15%);
  }
}

li {
  margin: 0.5rem 0;
}

@include media-breakpoint-down(sm) {
  .navbar {
    .navbar-nav {
      flex-direction: inherit;
    }
  
    .logo {
      &:before,
      &:after {
        color: rgba(255, 255, 255, 0);
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .navbar {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}
