.project-bg {
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.project {
  padding-top: 35vh;
  max-width: 900px;

  img {
    margin-bottom: 1rem;
  }

  .btn-primary {
    margin-bottom: ($spacer * 3);
  }
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: 4rem;
  }
  h4 {
    font-size: 1.5rem;
    margin-bottom:0.5rem;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
    margin-bottom:0rem;
  }
}

.project-img:first-of-type {
  margin-top: 6rem;
}
