.section {
  padding-bottom: ($spacer * 2);
  background-repeat: no-repeat;
  // https://css-tricks.com/positioning-offset-background-images/
  background-position-x: calc(100% - 850px);
  background-size: contain;
  position: relative;
  overflow: hidden;
  z-index: 9;
}



.section-narrow {
  padding-top: ($spacer * 2);


  h2 {
    position: relative;

    svg {
      background-color: #fff;
    }

    span {
      background-color: #fff;
      padding-right: 2rem;
      padding-left: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      /* border-bottom: 2px dashed #cdd9df; */
      margin-top: -1.5px;
      z-index: -1;
    }
  }

  .btn-primary {
    &:before {
      content: '';
    }
  }
}

.section-narrow+.section-narrow {
  padding-top: 0;
}





@include media-breakpoint-down(md) {
  .section {
    background-image: none !important;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding: 5rem 0 5rem 0;

    h2 {
      font-size: 3rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .project-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .proj-img {
    background-color: red;
    background-size: cover;
    margin-right: 0;
    margin-bottom: 1rem;
    flex-basis: 100%;
    height: 10rem;
  }

  .divider {}

  .proj-text {
    flex: 1;
  }
}