.section {
  padding-bottom: ($spacer * 2);
  background-repeat: no-repeat;
  // https://css-tricks.com/positioning-offset-background-images/
  background-position-x: calc(100% - 850px);
  background-size: contain;
  position: relative;
  overflow: hidden;

  .section-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $grey-400;
  }
  .section-subtitle-blue {
    color: $blue-400;
  }

  .section-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    height: 100%;
    width: auto;
  }

  h3 {
    .icon {
      margin-top: -.5rem;
    }
  }
}

.section-blue {
  color: $white;
  background-color: $primary;
  background-image: linear-gradient(to right,$primary 70%, $blue-600 75%, $blue-600);
  background-position-x: 100%;

  .section-img {
    left: 50%;
    right: inherit;
  }

  h2 {
    color: #fff;
  }

  .btn-primary {
    color: $accent;
    fill: $accent;
    background-color: #fff;
    
    &:hover, &:focus {
      color: darken($accent, 15%);
      box-shadow: 0 10px 10px 0 rgba(34,67,120,0.2);
      fill: darken($accent, 15%);
    }
  }
}

.section-narrow {
  padding-top: ($spacer * 2);

  .container {
    max-width: 900px;
  }

  h2 {
    position: relative;
    text-align: center;    

    svg {
      background-color: #fff;
    }

    span {
      background-color: #fff;
      padding-right: 2rem;
      padding-left: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      /* border-bottom: 2px dashed #cdd9df; */
      margin-top: -1.5px;
      z-index: -1;
    }
  }
  .btn-primary {
    &:before {
      content: '';
    }
  }
}

.section-narrow + .section-narrow {
  padding-top: 0;
}

#about {
  ul {
    padding-left: ($grid-gutter-width / 2);
  }
}

#contact {
  label {
    font-weight: bold;
  }
  .form-control {
    background-color: #ebf2f6;
    border:0;
  }
  #linkedin {
    display: inline-block;
    background: url('/assets/logo_linkedin.svg') no-repeat 50% 50%;
    padding: 0 5px;
    color: transparent;
  }
}

@include media-breakpoint-down(md) {
  .section {
    background-image: none !important;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding: 8rem 0;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
