.section {
  padding-bottom: ($spacer * 2);
  background-repeat: no-repeat;
  // https://css-tricks.com/positioning-offset-background-images/
  background-position-x: calc(100% - 850px);
  background-size: contain;

  .section-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9bc2ff;
  }

  .btn-primary {
    font-size: 16px;
    border: none;
    margin-top: $spacer;
    color: #fff;
    background-color: $accent;

    &:before {
      content: '+ ';
    }
  }
}

.section-blue {
  color: $white;
  background-color: $primary;
  background-position-x: 100%;

  h2 {
    color: #fff;
  }

  .btn-primary {
    color: $accent;
    background-color: #fff;
  }
}

.section-narrow {
  padding-top: ($spacer * 2);

  .container {
    max-width: 900px;
  }
  h2 {
    position: relative;
    text-align: center;

    svg {
      background-color: #fff;
    }

    span {
      background-color: #fff;
      padding-right: 2rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      border-bottom: 3px dashed #cdd9df;
      margin-top: -1.5px;
      z-index: -1;
    }
  }
  .btn-primary {
    &:before {
      content: '';
    }
  }
}

.section-narrow + .section-narrow {
  padding-top: 0;
}

#contact {
  label {
    font-weight: bold;
  }
  .form-control {
    background-color: #ebf2f6;
    border-color: #ebf2f6;
  }
  #linkedin {
    display: inline-block;
    background: url('/assets/logo_linkedin.svg') no-repeat 50% 50%;
    padding: 0 5px;
    color: transparent;
  }
}

@include media-breakpoint-down(sm) {
  .section {
    background-image: none !important;
  }
}

@include media-breakpoint-up(sm) {
  .section {
    padding: 10rem 0;

    h2 {
      font-size: 48px;
    }
  
    p {
      font-size: 16px;
    }

    .btn {
      margin-top: ($spacer * 2);
    }
  }
}
