// Custom stuff
$white: #fff;
$accent: #E60D61;

$blue-600: #2C4C7F;
$blue-500: #3A62A1;
$blue-400: #9BC2FF;

$grey-600: #274C61;
$grey-500: #406C85;
$grey-400: #A1B8C5;
$grey-300: #C6D5DD;
$grey-200: #D9E4EA;
$grey-100: #EBF2F6;

$xxxl: 4rem;
$xxl: 3rem;
$xl: 2rem;
$l: 1.5rem;
$m: 1rem;
$s: 0.75rem;
$xs: 0.5rem;

// Bootstrap overrides
$primary: $blue-500;
$border-radius: 0;

$btn-padding-y: (0.66rem);
$btn-padding-x: (3rem);